.my-color1{color:#212121}

.my-background1 {
  background:#bfbfbf;
  border-color: #212121;
}

.my-border1{border-color:#212121}

.my-login-btn {
  background:#bfbfbf;color:#212121;border-color:#212121;
}
.my-class2{
  background:#bfbfbf;color:#000000;border-color:#212121;
}
